# Редирект с http на https создан автоматически при заказе бесплатного ssl-сертификата
RewriteEngine On

#--------------Tex.---------------
#RewriteCond %{REQUEST_URI} !^/reduct.html
#RewriteRule ^.*$ /reduct.html
#---------------------------------


#-------------Serv----------------
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
#---------------------------------
# Конец редиректа

