{% extends 'base.html' %}
{% block script %}
    <script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>

{% endblock %}
{% block css %}
    {{ url_for('static', filename='lk/css/add_post.css') }}
{% endblock %}

{% block body %}
    <header>
        <a href="/" id="logo">
            <span>{{ header }}</span>
        </a>
        <div id="about">
            {% for key,values in header_map.items() %}
                <a href="{{ values }}" title="{{ key }}">{{ key }}</a>
            {% endfor %}
        </div>
    </header>
    {% for cat, msg in get_flashed_messages(True) %}
        {% if cat == 'error' %}
            <div class="alert">
                <span class="closebtn">×</span>
                <strong>Ошибка!</strong> {{ msg }}
            </div>
        {% elif cat == 'success' %}
            <div class="alert success">
                <span class="closebtn">×</span>
                <strong>Успех!</strong> {{ msg }}
            </div>
        {% elif cat == 'info' %}
            <div class="alert info">
                <span class="closebtn">×</span>
                <strong>Оповещение.</strong> {{ msg }}
            </div>
        {% elif cat == 'warning' %}
            <div class="alert warning">
                <span class="closebtn">×</span>
                <strong>Внимание!</strong> {{ msg }}
            </div>
        {% endif %}
    {% endfor %}
    <div class="editor">
        <form action="/add_post" method="post" class="form-contact">
            <div class="text-field">
                <label class="text-field__label" for="title">Заголовок</label>
                <input class="text-field__input" type="text" name="title" id="title" placeholder="title">
            </div>
            <div class="text-field">
                <label class="text-field__label" for="announce">Анонс (Кратко об записе)</label>
                {{ ckeditor.create(name='announce') }}
                {{ ckeditor.load(pkg_type="basic") }}
            </div>
            <div class="text-field">
                <label class="text-field__label" for="content">Статья</label>
                {{ ckeditor.create(name='content') }}
                {{ ckeditor.load(pkg_type="basic") }}
            </div>
            <div class="button-btn">
                <input class="btn" type="submit" name="enter" id="enter" value="Опубликовать">
                <input class="btn" type="submit" name="enter" id="local_enter" value="Сохранить как черновик">
            </div>
        </form>
    </div>
{% endblock %}