{% extends 'base.html' %}

{% block css %}
    {{ url_for('static', filename ='lk/css/log.css') }}
{% endblock %}

{% block body %}
    <header>
        <a href="/" id="logo">
            <span>{{ header }}</span>
        </a>
        <div id="about">
            {% for key,values in header_map.items() %}
                <a href="{{ values }}" title="{{ key }}">{{ key }}</a>
            {% endfor %}
        </div>
    </header>
    </div>
    {% for cat, msg in get_flashed_messages(True) %}
        {% if cat == 'error' %}
            <div class="alert">
                <span class="closebtn">×</span>
                <strong>Ошибка!</strong> {{ msg }}
            </div>
        {% elif cat == 'success' %}
            <div class="alert success">
                <span class="closebtn">×</span>
                <strong>Успех!</strong> {{ msg }}
            </div>
        {% elif cat == 'info' %}
            <div class="alert info">
                <span class="closebtn">×</span>
                <strong>Оповещение.</strong> {{ msg }}
            </div>
        {% elif cat == 'warning' %}
            <div class="alert warning">
                <span class="closebtn">×</span>
                <strong>Внимание!</strong> {{ msg }}
            </div>
        {% endif %}
    {% endfor %}
    <main>
        <!--Форма регистрации--->
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form
                        action="/register" method="post">
                    <h1>Регистрация</h1>
                    <span>Введите все нужные данные!</span>
                    {{ form_reg.hidden_tag() }}
                    {% for field in form_reg if field.name not in ['csrf_token', 'submit'] -%}
                        {% if field.errors %}
                            {{ field(class="invalid") }}
                            <span class="invalid-feedback">
                    {% for e in field.errors %}
                        {{ e }}
                    {% endfor %}
                </span>
                        {% else %}
                            {{ field() }}
                        {% endif %}
                    {% endfor %}
                    {{ form_reg.submit(class="btn") }}
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form
                        {% if request.args.get('next') %}
                            action="{{ url_for('login', next=request.args.get('next')) }}"
                        {% else %}
                            action="{{ url_for('login') }}"
                        {% endif %}
                            method="post">
                    <h1>Вход</h1>
                    <span>Используйте ваш аккаунт</span>
                    {{ form_log.hidden_tag() }}
                    {% for field in form_log if field.name not in ['csrf_token', 'remember', 'submit'] -%}
                        {% if field.errors %}
                            {{ field(class="invalid") }}
                            <span class="invalid-feedback">
                    {% for e in field.errors %}
                        {{ e }}
                    {% endfor %}
                </span>
                        {% else %}
                            {{ field() }}
                        {% endif %}
                    {% endfor %}

                    <a href="#">Забыли пароль?</a>
                    {{ form_log.submit(class="btn") }}
                    {{ form_log.remember.label }}{{ form_log.remember() }}
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>С возвращением</h1>
                        <p>Чтобы пользоваться нашей системой, пожалуйста, войдите в систему со своей личной
                            информацией.</p>
                        <button class="ghost btn" id="signIn">Вход</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Привет, участник!</h1>
                        <p>Введите свои личные данные и начните путешествие в миру по программированию вместе с
                            нами!</p>
                        <button class="ghost btn" id="signUp">Регистрация</button>
                    </div>
                </div>
            </div>
    </main>
    <script>
        const signUpButton = document.getElementById('signUp');
        const signInButton = document.getElementById('signIn');
        const container = document.getElementById('container');

        signUpButton.addEventListener('click', () => {
            container.classList.add("right-panel-active");
        });

        signInButton.addEventListener('click', () => {
            container.classList.remove("right-panel-active");
        });

    </script>
    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function () {
                    div.style.display = "none";
                }, 600);
            }
        }
    </script>
{% endblock %}