{% extends 'base.html' %}

{% block css %}
    {{ url_for('static', filename='lk/css/time.css') }}
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% endblock %}
{% block body %}
    <!--Menu-->
    <header>
        <a href="#top" id="logo" onclick="slowScroll('#top')">
            <span>{{ header }}</span>
        </a>
        <div id="about">
            {% for key,values in header_map.items() %}
                {% if values[0] != '/' %}
                    <a href="#{{ values }}" title="{{ key }}" onclick="slowScroll('#{{ values }}')">{{ key }}</a>
                {% else %}
                    <a href="{{ values }}" title="{{ key }}">{{ key }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </header>
    {% for cat, msg in get_flashed_messages(True) %}
        {% if cat == 'error' %}
            <div class="alert">
                <span class="closebtn">×</span>
                <strong>Ошибка!</strong> {{ msg }}
            </div>
        {% elif cat == 'success' %}
            <div class="alert success">
                <span class="closebtn">×</span>
                <strong>Успех!</strong> {{ msg }}
            </div>
        {% elif cat == 'info' %}
            <div class="alert info">
                <span class="closebtn">×</span>
                <strong>Оповещение.</strong> {{ msg }}
            </div>
        {% elif cat == 'warning' %}
            <div class="alert warning">
                <span class="closebtn">×</span>
                <strong>Внимание!</strong> {{ msg }}
            </div>
        {% endif %}
    {% endfor %}
    <div class="main">
        <div class="global-clock-msk clock">
            <h4>Начало по времени системы:</h4>
            <span id="contest-time"></span>
            <h4>Начало по местному времени:</h4>
            <span id="user-local-time"></span>
        </div>
    </div>
    <script>
        let ContestTime = new Date('{{ time_system }}'.slice(0, 16));
        const timezone = new Date().getTimezoneOffset();
        console.log(timezone);
        let DateUser = new Date(ContestTime.getTime() + ((-timezone - 3 * 60) * 60 * 1000));
        console.log(DateUser);
        let elem = document.getElementById('user-local-time');
        let options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            weekday: 'long',
            timezone: 'UTC',
            hour: 'numeric',
            minute: 'numeric',
        };
        let hours = Math.floor(-timezone / 60);
        let minutes = Math.round((-timezone % 60) / 60000);
        if ((-timezone) > 0) {
            if (minutes < 10) {
                elem.innerHTML = `${DateUser.toLocaleString("ru", options)} <sup>(+${hours}:0${minutes} UTC)</sup>`;
            } else {
                elem.innerHTML = `${DateUser.toLocaleString("ru", options)} <sup>(+${hours}:${minutes} UTC)</sup>`;
            }
        } else {
            if (minutes < 10) {
                elem.innerHTML = `${DateUser.toLocaleString("ru", options)} <sup>(${hours}:0${minutes} UTC)</sup>`;
            } else {
                elem.innerHTML = `${DateUser.toLocaleString("ru", options)} <sup>(${hours}:${minutes} UTC)</sup>`;
            }
        }

        let gdr = document.getElementById('contest-time');
        let options_msk = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            weekday: 'long',
            timezone: 'Europe/Moscow',
            hour: 'numeric',
            minute: 'numeric',
        };
        gdr.innerHTML = `${ContestTime.toLocaleString("ru", options_msk)} <sup>(+3:00 UTC)</sup>`;
    </script>
{% endblock %}