{% extends 'base.html' %}

{% block css %}
    {{ url_for('static', filename='olimp/css/olimp.css') }}
{% endblock %}

{% block body %}
    <!--Menu-->
    <header>
        <a href="#top" id="logo" onclick="slowScroll('#top')">
            <span>{{ header }}</span>
        </a>
        <div id="about">
            {% for key,values in header_map.items() %}
                {% if values[0] != '/' %}
                    <a href="#{{ values }}" title="{{ key }}" onclick="slowScroll('#{{ values }}')">{{ key }}</a>
                {% else %}
                    <a href="{{ values }}" title="{{ key }}">{{ key }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </header>
    {% for cat, msg in get_flashed_messages(True) %}
        {% if cat == 'error' %}
            <div class="alert">
                <span class="closebtn">×</span>
                <strong>Ошибка!</strong> {{ msg }}
            </div>
        {% elif cat == 'success' %}
            <div class="alert success">
                <span class="closebtn">×</span>
                <strong>Успех!</strong> {{ msg }}
            </div>
        {% elif cat == 'info' %}
            <div class="alert info">
                <span class="closebtn">×</span>
                <strong>Оповещение.</strong> {{ msg }}
            </div>
        {% elif cat == 'warning' %}
            <div class="alert warning">
                <span class="closebtn">×</span>
                <strong>Внимание!</strong> {{ msg }}
            </div>
        {% endif %}
    {% endfor %}
    <div id="main">
        <div class="main">
            <form action="/" method="get">
                <div class="text-field">
                    <label class="text-field__label" for="ID">ID Олимпиады</label>
                    <input class="text-field__input" type="text" name="ID" id="ID" placeholder="ID Олимпиады">
                </div>
                <div class="text-field">
                    <label class="text-field__label" for="login">Логин участника</label>
                    <input class="text-field__input" type="text" name="login" id="login" placeholder="Login">
                </div>
                <div class="text-field">
                    <label class="text-field__label" for="pass">Пароль участника</label>
                    <input class="text-field__input" type="text" name="pass" id="pass" placeholder="Password">
                </div>
                <div class="text-field">
                    <input class="btn-contest" type="submit" name="enter" id="enter" value="Войти в систему">
                </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'main/js/jquery.spincrement.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'main/js/custom.js') }}"></script>
    <script>
        document.querySelector('#email').focus();
    </script>
{% endblock %}