aiofiles==22.1.0
aiohttp==3.8.3
aiosignal==1.2.0
altgraph==0.17.2
async-timeout==4.0.2
attrs==22.1.0
auto-py-to-exe==2.23.0
beautifulsoup4==4.11.1
bidict==0.22.0
blinker==1.5
bottle==0.12.23
bottle-websocket==0.2.9
certifi==2021.10.8
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
dnspython==2.2.1
Eel==0.14.0
email-validator==1.2.0
Flask==2.1.1
Flask-CKEditor==0.4.6
Flask-Login==0.6.1
Flask-SocketIO==5.2.0
Flask-WTF==1.0.1
frozenlist==1.3.1
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.3
h11==0.13.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.14.3
hyperframe==6.0.1
idna==3.3
IP2Location==8.8.0
itsdangerous==2.1.2
Jinja2==3.1.1
livereload==2.6.3
MarkupSafe==2.1.1
multidict==6.0.2
numpy==1.22.3
pathlib==1.0.1
pefile==2022.5.30
Pillow==9.1.0
priority==2.0.0
pyaes==1.6.1
pyasn1==0.4.8
pycparser==2.21
pyinstaller==5.4.1
pyinstaller-hooks-contrib==2022.10
pyparsing==3.0.9
python-dateutil==2.8.2
python-engineio==4.3.2
python-geoip==1.2
python-geoip-geolite2==2015.303
python-socketio==5.6.0
pytz==2022.1
pywin32-ctypes==0.2.0
quart==0.18.0
requests==2.27.1
rsa==4.8
six==1.16.0
soupsieve==2.3.2.post1
toml==0.10.2
tornado==6.1
urllib3==1.26.9
Werkzeug==2.1.2
whichcraft==0.6.1
wsproto==1.2.0
WTForms==3.0.1
yarl==1.8.1
zope.event==4.5.0
zope.interface==5.4.0
