{% extends 'base.html' %}

{% block css %}
    {{ url_for('static', filename ='main/css/main.css') }}
{% endblock %}

{% block body %}
    <!--Menu-->
    <header>
        <a href="#top" id="logo" onclick="slowScroll('#top')">
            <span>{{ header }}</span>
        </a>
        <div id="about">
            {% for key,values in header_map.items() %}
                <a href="#{{ values }}" title="{{ key }}" onclick="slowScroll('#{{ values }}')">{{ key }}</a>
            {% endfor %}
            <a href="/login" class="lk-button" title="Вход">Войти</a>
        </div>
    </header>
    <!--Main-->
    <div id="main-one">
        <h1>{{ title }}</h1>
        <h3>{{ text }}</h3>
        <a class="floating-button" onclick="slowScroll('#stat')">{{ text_button }}</a>
    </div>

    <div id="overview">
        <h2>Что мы можем?</h2>
        <h4>(Все доступные языки на данный момент)</h4>
        <div class="img">
            <img src="{{ url_for('static',filename ='images/py.1023086515253406778465(3).png') }}" alt="">
        </div>
        <div class="img">
            <img src="{{ url_for('static',filename ='images/cpp.1023086515253406778465(4).png') }}" alt="">
        </div>
        <div class="img">
            <img src="{{ url_for('static',filename ='images/cs.1023086515253406778465(2).png') }}" alt="">
        </div>
        <div class="img">
            <img src="{{ url_for('static',filename ='images/js.1023086515253406778465(1).png') }}" alt="">
        </div>
        <div class="img">
            <span>Изучение языка Python, проверка решений задач, библиотека с информацией. . .</span>
        </div>
        <div class="img">
            <span>Изучение языка C++, проверка решений задач, библиотека с информацией. . .</span>
        </div>
        <div class="img">
            <span>Изучение языка C#, проверка решений задач, библиотека с информацией. . .</span>
        </div>
        <div class="img">
            <span>Изучение языка Node.JS, проверка решений задач, библиотека с информацией. . .</span>
        </div>
    </div>

    <!--FAQ-->
    <div id="faq">

        <div>
            <span class="title">Платформа</span><br>
            <span class="heading">Как пользоваться?</span>
            <p>1.Зарегистрируйтесь. (Если вы пользователь,то зарегистрируйтесь как "Пользователь", а если вы автор
                олимпиадных задач,курсов или книг по информатике, то зарегистрируйтесь как "Система")<br>2.Войдите в
                Личный Кабинет.<br>3.Теперь вам доступны все услуги сайта!</p>

            <span class="heading">Для чего преднозначена?</span>
            <p>Данная система была создана в образовательных целях. Здесь любой пользователь сможет изучить доступный в
                нашем сервисе язык программирования,
                поучаствовать в олимпиадах по информатике, порешать интересные задачки. . .</p>

            <span class="heading">С какого устройства будет удобно пользоваться сайтом и его функционалом?</span>
            <p>Сайтом можно будет пользоваться с устройства, ширина экрана которого не менее 420px (Желательно от
                720px)</p>
        </div>
        <div>
            <span class="title">Оплата</span><br>
            <span class="heading">Бесплатный ли сервис?</span>
            <p>Конечно! Любой участник системы сможет абсолютно бесплатно изучить любой язык программирования, найти
                книжный материал или документацию, пройти курсы, поучаствовать
                в олимпиадах</p>

            <span class="heading">Какие ресуры предоставляют организаторам олимпиад?</span>
            <p>Разработчик олимпиад может использовать ресурсы хостинга как нашего сайта (Платно), так сможет подключить
                серверную часть на своем хостинге (При помощи API).</p>

            <span class="heading">Безопасность тестирования кода.Что для этого будет предпринято?</span>
            <p>Разработчик олимпиад сможет использовать как наш security software, так и свои программы.</p>
        </div>
        <div>
            <span class="title">Об безопасности.</span><br>
            <span class="heading">Что мы делаем с данными пользователей.</span>
            <p>Все данные хранятся в строгой конфиденциальности.Мы гарантируем безопасность нашим пользователям.</p>
        </div>
        <div><a href="/faq" class="floating-button">Больше про FAQ</a></div>

    </div>

    <div class="statistics" id="stat">
        <div class="statistics__inner">
            <h1 class="statistics__header">
                О платформе:
            </h1>
            <div class="statistics__element">
                <img class="statistics__icon" src="{{ url_for('static', filename = 'main/img/server.svg') }}"
                     alt="Сервера">
                <p class="statistics__number">{{ ID_server }}</p>
                <p class="statistics__title">Работающих серверов</p>
            </div>
            <div class="statistics__element">
                <img class="statistics__icon" src="{{ url_for('static', filename = 'main/img/peoples.svg') }}"
                     alt="Люди">
                <p class="statistics__number">{{ ID_user }}</p>
                <p class="statistics__title">Участников платформы</p>
            </div>
            <div class="statistics__element">
                <img class="statistics__icon" src="{{ url_for('static', filename = 'main/img/time.svg') }}" alt="Время">
                <p id="tik-tok" class="char mode"></p>
                <p class="statistics__title">Время в системе (МСК)</p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'main/js/jquery.spincrement.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'main/js/custom.js') }}"></script>
    <script>
        function fn(f, a) {
            var c = {
                cls: ["hour", "sp", "min", "spl", "sec"],
                formatTime: function (b) {
                    b = Math.floor(b / 1E3);
                    var a = Math.floor(b / 60),
                        d = Math.floor(a / 60);
                    b %= 60;
                    a %= 60;
                    return [c.two(d % 24), ":", c.two(a), ":", c.two(b)]
                },
                two: function (b) {
                    return (9 < b ? "" : "0") + b
                },
                timer: function (b) {
                    var a = performance.now();
                    requestAnimationFrame(function g(e) {
                        e -= a;
                        e = c.formatTime(b + e);
                        c.cls.forEach(function (a, b) {
                            a.innerHTML = e[b]
                        });
                        requestAnimationFrame(g)
                    })
                },
                init: function () {
                    a = a.split(":");
                    a = 36E5 * a[0] + 6E4 * a[1] + 1E3 * a[2];
                    c.cls = c.cls.map(function (a) {
                        var d = document.createElement("span");
                        d.classList.add(a);
                        f.appendChild(d);
                        return d
                    });
                    c.timer(a)
                }
            };
            c.init()
        }


        var span = document.querySelector('.mode');
        fn(span, '{{ MSKTIME }}');
    </script>
{% endblock %}