{% extends 'base.html' %}

{% block css %}
    {{ url_for('static', filename ='faq/css/faq.css') }}
{% endblock %}
{% block body %}
    <header>
        <a id="logo" href="/">
            <span>{{ header }}</span>
        </a>
        <div id="about">
            {% for key,values in header_map.items() %}
                <a href="{{ values }}" title="{{ key }}">{{ key }}</a>
            {% endfor %}
        </div>
    </header>

    <div id="top">
        <h1>{{ top_title }}</h1>
        <h3>{{ top_title_h3 }}</h3>
    </div>

    <div id="faq">

        <div>
            <span class="title">Платформа</span><br>
            <span class="heading">Как пользоваться?</span>
            <p>1.Зарегистрируйтесь. (Если вы пользователь,то зарегистрируйтесь как "Пользователь", а если вы автор
                олимпиадных задач,курсов или книг по информатике, то зарегистрируйтесь как "Система")<br>2.Войдите в
                Личный Кабинет.<br>3.Теперь вам доступны все услуги сайта!</p>

            <span class="heading">Для чего преднозначена?</span>
            <p>Данная система была создана в образовательных целях. Здесь любой пользователь сможет изучить доступный в
                нашем сервисе язык программирования,
                поучаствовать в олимпиадах по информатике, порешать интересные задачки. . .</p>

            <span class="heading">С какого устройства будет удобно пользоваться сайтом и его функционалом?</span>
            <p>Сайтом можно будет пользоваться с устройства, ширина экрана которого не менее 420px (Желательно от
                720px)</p>
        </div>
        <div>
            <span class="title">Оплата</span><br>
            <span class="heading">Бесплатный ли сервис?</span>
            <p>Конечно! Любой участник системы сможет абсолютно бесплатно изучить любой язык программирования, найти
                книжный материал или документацию, пройти курсы, поучаствовать
                в олимпиадах</p>

            <span class="heading">Какие ресуры предоставляют организаторам олимпиад?</span>
            <p>Разработчик олимпиад может использовать ресурсы хостинга как нашего сайта (Платно), так сможет подключить
                серверную часть на своем хостинге (При помощи API).</p>

            <span class="heading">Безопасность тестирования кода.Что для этого будет предпринято?</span>
            <p>Разработчик олимпиад сможет использовать как наш security software, так и свои программы.</p>
        </div>
        <div>
            <span class="title">Об безопасности.</span><br>
            <span class="heading">Что мы делаем с данными пользователей.</span>
            <p>Все данные хранятся в строгой конфиденциальности.Мы гарантируем безопасность нашим пользователям.</p>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
