{% extends 'base.html' %}

{% block css %}
    {{ url_for('static', filename ='contest/css/main.css') }}
{% endblock %}
{% block script %}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.css'>
{% endblock %}
{% block body %}
    <header>
        <a id="logo" href="/">
            <span>{{ header }}</span>
        </a>
        <div id="about">
            {% for key,values in header_map.items() %}
                <a href="{{ values }}" title="{{ key }}">{{ key }}</a>
            {% endfor %}
        </div>
    </header>
    <div class="main">
        <div class="mini-border">
            <div class="info-mini-border">
                {% for key,values in option_map.items() %}
                    <a href="{{ values }}" title="{{ key }}">{{ key }}</a>
                {% endfor %}
            </div>
        </div>
        <form class="form-act" action="/contest/{{ c_id }}/code_post" method="POST">
            <div class="input-task">
                <span class="input-group-addon">Выберете задачу:</span>
                <select name="comp_select" class="selectpicker form-control">
                    {% for k, v in task.items() %}
                        {% if get_task == k %}
                            <option value="{{ v['id'] }}" selected>{{ k }}. {{ v['text'] }}</option>
                        {% else %}
                            <option value="{{ v['id'] }}">{{ k }}. {{ v['text'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="input-task">
                <span class="input-group-addon">Выберете язык программирования:</span>
                <select id="select-input" name="select" class="selectpicker form-control">
                    {% for key, value in compiler.items() %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <textarea id="code-input" name="code"></textarea>
            </div>
            <div>
                <input class="btn" type="submit" placeholder="Отправить"/>
            </div>
        </form>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/htmlmixed/htmlmixed.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/python/python.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/clike/clike.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/pascal/pascal.js'></script>
    <script id="rendered-js">
        var g = 'python3';
        var dict = {
            'python3': 'python', 'pypy3': 'python', 'gnu20': 'text/x-c++src', 'java17': 'text/x-java',
            'js9': 'javascript', 'gcc': 'text/x-objectivec', 'freepascal': 'pascal'
        }
        var editor = CodeMirror.fromTextArea(document.getElementById("code-input"), {
            lineNumbers: true,
            mode: 'python',
        });
        editor.setSize(500, 400);
        document.querySelector("#select-input").addEventListener('change', function (e) {
            g = e.target.value;
            editor.setOption("mode", dict[g]);
        });
    </script>
{% endblock %}
